{% extends 'base.html' %}

{% block body %}




<div id="refresh-content">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<div class="grid grid-cols-10  p-4  justify-center dark:bg-gray-800">
  <div class="col-span-1 bg-white-300  dark:bg-gray-800"> <!-- 10% width -->

    <ul class="flex space-x-6 ">
      <li class="flex flex-col items-center space-y-1 relative">
        <div class="bg-gradient-to-tr from-yellow-300 to-fuchsia-800 p-1 rounded-full">
          <a class=" bg-white block rounded-full p-1 hover:-rotate-6 transform transition" href="#"
            @click="isModalOpen = true">

            {% if user.profile.profile_image %}
            <img class="h-20 w-20 rounded-full" src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}"
              aria-hidden="true" />
            {%endif%}

          </a>

          <!-- Open the modal using ID.showModal() method -->
          <dialog id="my_modal_1" class="modal">
            <div class="modal-box">
              <h3 class="font-bold text-lg"> {% for story in stories %}
                <div class="border p-4 mb-4 rounded-lg shadow-md">
                  {% if story.image %}
                  <img src="{{ story.image.url }}" alt="Story Image" class="w-full h-32 object-cover mb-2">
                  {% else %}
                  <p>No image available</p>
                  {% endif %}
                  <p class="text-gray-600 text-sm">{{ story.created }}</p>
                  {% if story.is_expired %}
                  <p class="text-red-500 text-sm">Expired</p>
                  {% else %}
                  <p class="text-green-500 text-sm">Active</p>
                  {% endif %}
                </div>
                {% empty %}
                <p>No active stories available.</p>
                {% endfor %}
              </h3>
              <p class="py-4">
              <div class="story">
                <img src="{{ story.image.url }}">
              </div>
              </p>
              <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
          <!-- First Modal -->
          <div x-show="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-sm">
            <div x-show="isModalOpen" x-transition:enter="animate__animated animate__fadeIn"
              x-transition:leave="animate__animated animate__fadeOut"
              class="max-w-xs mx-auto p-6 px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
              role="dialog" @click.away="isModalOpen = false" @keydown.escape="isModalOpen = false">
              <!-- Modal Header -->
              <header class="flex justify-end">
                <!-- Close Button -->
                <button
                  class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover:text-gray-700"
                  aria-label="close" @click="isModalOpen = false">
                  <!-- Close Icon SVG -->
                  <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true">
                    <path
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </header>
              <!-- Modal Body -->
              <div class="max-w-xs mx-auto p-6 px-6 py-4 overflow-hidden dark:text-gray-800">
                <!-- Modal Title -->
                <!-- Modal Content -->
                <p class="text-sm text-gray-700 dark:text-gray-400">
                  <!-- Replace this with your dynamic content -->
                <form action="{% url 'add_story' %}" method="post" enctype="multipart/form-data"
                  class="max-w-xs mx-auto p-6 px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800">

                  {% csrf_token %}

                  <label for="story-image" class="block text-gray-700 font-semibold mb-2 dark:bg-gray-800">Create
                    story</label>

                  <label for="story-image"
                    class="w-full flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-md cursor-pointer transition duration-300 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    Choose an Image
                  </label>

                  <input type="file" name="image" required id="story-image" class="hidden dark:text-gray-400">

                  <div id="story-image-preview" class=" bg-gray-100 rounded overflow-hidden mb-4 dark:text-gray-400">
                    <img id="preview-img" class="w-full h-full object-cover">
                  </div>

                  <div id="file-name" class="font-medium text-gray-700"></div>

                  <div id="progress-bar" class="hidden w-full bg-gray-200 rounded h-2.5 mb-4">
                    <div id="progress" class="bg-blue-600 h-2.5 rounded" style="width: 0%"></div>
                  </div>

                  <button type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-md transition duration-300">
                    Add Story
                  </button>

                </form>

                <script>
                  const storyImage = document.getElementById('story-image');
                  const previewImg = document.getElementById('preview-img');
                  const progressBar = document.getElementById('progress-bar');
                  const progress = document.getElementById('progress');
                  const fileName = document.getElementById('file-name'); // new element

                  storyImage.addEventListener('change', (e) => {

                    const file = e.target.files[0];

                    fileName.textContent = file.name; // set file name

                    const reader = new FileReader();
                    reader.onload = (e) => {
                      previewImg.src = e.target.result;
                    }
                    reader.readAsDataURL(file);

                    progressBar.classList.remove('hidden'); // show progress bar
                    storyImage.upload.onprogress = (e) => {
                      const percent = Math.round((e.loaded / e.total) * 100);
                      progress.style.width = `${percent}%`;
                    }

                    storyImage.upload.onload = () => {
                      progressBar.classList.add('hidden');
                    }

                  });
                </script>



                </p>
              </div>
              <!-- Modal Footer -->

            </div>
          </div>
        </div>



        <button class="absolute bottom-8 right-1 bg-purple-800 rounded-full h-8 w-8 text-2xl
            text-white font-semibold border-2
             border-white flex justify-center items-center font-mono hover:bg-blue-700"
          @click="isModalOpen = true">+</button>
        <a href="#">
          you
        </a>
      </li>



    </ul>



  </div>
  <div class="col-span-9  dark:bg-gray-800"> <!-- 90% width -->

    <!-- demo styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/zuck.css"
      integrity="sha512-vtIPbhm9H5+YwcJxweGdHuNh2n1Hg5oZfoWVbwelRpG9dzSaciFDfznOik6FjbEli4IXUIvZOqkoKvqmIyqScQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/skins/snapgram.css"
      integrity="sha512-j51LVQ7EhyyQAIJYwIw01bIYHlooPqHJm0894A+2raQgXnn8NyUbqELezMcPtcrFubJjr0B9JqAAQHu0uuSJCw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- lib styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/zuck.css"
      integrity="sha512-vtIPbhm9H5+YwcJxweGdHuNh2n1Hg5oZfoWVbwelRpG9dzSaciFDfznOik6FjbEli4IXUIvZOqkoKvqmIyqScQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- lib skins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/skins/facesnap.css"
      integrity="sha512-rGPvl1dX6g8yfneHQkJqhx37yxadryM/NgnNu4fUPdjaSZ68WZDEojK6X3GgwX1qUJNJtrmKUL9dy8i0Xc7dZw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/zuck.js"></script>

    <div id="stories" class="storiesWrapper  bg-white  dark:bg-gray-800"></div>

    <script>
      // Your dynamic stories data from the 'new_stories' variable
      var new_stories = JSON.parse('{{stories|safe}}');
      console.log(new_stories);


      // var currentSkin = getCurrentSkin();
      var stories = window.Zuck(document.querySelector('#stories'), {
        skin: 'snapgram',
        backNative: true,
        previousTap: true,
        avatars: true,
        list: false,
        autoFullScreen: false,
        cubeEffect: true,
        paginationArrows: true,
        localStorage: true,
        stories: new_stories  // Use the dynamic stories data here
      });


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zuck.js/2.1.0/zuck.js"
      integrity="sha512-9+1pRTf4gCFPUo1e7QB+P2OafvBMIV114wQzU74ErzKdFe4saTDPH3w+87iccK9EKmwNOBGcghw7McggXoJVDA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  </div>
</div>


<!-- story end -->

<div class="grid gap-6 mb-8 md:grid-cols-2 justify-center mt-4">
  <div class="flex items-center min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">

    <form method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      <div class="mb-4">
        <label for="text" class="block text-sm font-medium text-gray-700 dark:text-gray-300">What's on Your
          mind!!</label>
        <textarea name="text" id="text"
          class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 dark:bg-gray-700 dark:border-gray-600 text-gray-900 dark:text-gray-300 rounded-md"></textarea>
      </div>

      <div class="mb-4">
        <div class="mt-1 relative">
          <input type="file" name="image" id="post-image" class="hidden" onchange="previewPostImage(this);">
          <label for="post-image"
            class="cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 bg-white dark:bg-gray-700 text-indigo-600 dark:text-indigo-400 border border-indigo-300 dark:border-gray-600 rounded-md py-2 px-4 inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              class="w-4 h-4 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
              </path>
            </svg>
            <span>Choose an image</span>
          </label>
        </div>
        <img id="post-image-preview" class="mt-2 w-md hidden" alt="Image Preview">
      </div>

      <script>
        function previewPostImage(input) {
          const imagePreview = document.getElementById('post-image-preview');
          if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
              imagePreview.src = e.target.result;
              imagePreview.classList.remove('hidden');
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
      </script>

      <button type="submit"
        class="p-2 text-sm font-medium text-white bg-indigo-600 border rounded-md hover:bg-indigo-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500">Add
        Post</button>
  </div>

  </form>

  <script>
    function previewImage(input) {
      var preview = document.getElementById('image-preview');
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          preview.src = e.target.result;
          preview.classList.remove('hidden');
        };

        reader.readAsDataURL(input.files[0]);
      } else {
        preview.src = '';
        preview.classList.add('hidden');
      }
    }

  </script>



</div>
{% for post in posts %}
  <div class="card shadow-lg">
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="flex items-center">
        {% if post.author.profile.profile_image %}
        <a href="{% url 'profile' pk=post.author.id %}">
          <img src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.username }}"
          class="w-8 h-8 rounded-full mr-2"></a>
        {% else %}
        <a href="{% url 'profile' pk=post.author.id %}">
          <img src="https://www.bytewebster.com/img/logo.png" alt="{{ post.author.username }}"
          class="w-8 h-8 rounded-full mr-2"></a>
        {% endif %}




        <p class="dark:text-gray-800">{{ post.author.username |capfirst }}</p>

        <!-- <span class="ml-auto text-gray-500 dark:text-gray-300 delete-post" data-post-id="{{ post.id }}"
          style="cursor: pointer;">:</span> -->

         <!-- HTML button to trigger the modal -->
         {% if post.author == request.user %}
<button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class=" dark:bg-green ml-auto text-gray-500 dark:text-gray-300 delete-post" data-post-id="{{ post.id }}" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M18 4h-2.5l-1-1h-5l-1 1H6c-1.1 0-1.99.9-1.99 2L4 18c0 1.1.89 2 1.99 2h12.02C19.1 20 20 19.1 20 18V6c0-1.1-.9-2-2-2zm-8-2h4l.71.71H9.29L10 2zm5 16H7v-1h10v1zm0-3H7v-8h10v8z" fill="red"/>
  </svg>
  {% endif %}
  
</button>

<!-- Modal for post deletion confirmation -->
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              {% if deletion_successful == False %}
              <div class="alert alert-danger" role="alert">
                  You are not authorized to delete this post.
              </div>
          {% else %}
              {% if post.author != request.user %}
                  <div class="alert alert-danger" role="alert">
                      You are not authorized to delete this post.
                  </div>
              {% else %}
                  <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this POST?</h3>
              {% endif %}
          {% endif %}
                  
              
              <!-- Form to submit deletion -->
              <form id="deleteForm" method="post" action="" class="flex justify-center items-center flex-wrap">
                  {% csrf_token %}
                  <input type="hidden" name="post_id" id="post_id" value="">
                  <button type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mb-2.5 md:mb-0">
                      Yes, I'm sure
                  </button>
                  <!-- Button to cancel deletion -->
                  <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                      No, cancel
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>


<script>
  // JavaScript to handle the click event on the delete button
 // JavaScript to handle the click event on the delete button
$('.delete-post').click(function() {
    var postId = $(this).data('post-id');
    // Set the post ID in the form
    $('#post_id').val(postId);
    // Show the modal
    $('#popup-modal').removeClass('hidden');
});

// JavaScript to handle the submission of the delete post form
$('#deleteForm').submit(function(event) {
    // Add the 'delete_post' key to the form data
    $('<input>').attr({
        type: 'hidden',
        name: 'delete_post',
        value: 'true'
    }).appendTo($(this));
    // Continue with form submission
    return true;
});

// JavaScript to handle the click event on the "No, cancel" button
$('button[data-modal-hide="popup-modal"]').click(function() {
    // Hide the modal
    $('#popup-modal').addClass('hidden');
});

</script>

          


      </div>






<a href="{% url 'post_detail' post_id=post.id %}">
  <div class="card-body">
    <div class="flex items-center">
      <p class="dark:text-gray-800 mr-4 text-s">{{ post.text }}</p>
      <p class="dark:text-gray-500 text-xs">{{ post.created|timesince }} ago</p>
    </div>
    {% if post.image %}
    <img src="{{ post.image.url }}" class="w-full h-auto mt-3">
</a>
{% endif %}



<!-- Like, Share and Comment Buttons -->
<style>
  /* CSS styles */
  .like-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }

  .like-button:hover {
    color: #ff6347;
    /* Change color on hover */
  }

  .like-icon {
    margin-right: 5px;
    /* Adjust the spacing between the icon and text */
  }

  .liked {
    color: #ff6347;
    /* Change color when button is liked */
  }
</style>

<div class="flex justify-between mt-4">

  <!-- Like Button -->
  <!-- Like Button -->
  <a href="{% url 'post_like' post.id %}" class="like-button">
    <span class="like-icon"></span> <!-- Heart icon -->
    Like <span class="like-count">{{ post.num_of_likes }}</span>
  </a>



  <script>
    // JavaScript code
    // Function to get CSRF token from cookies
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
      // Attach event listeners to like buttons
      document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', function (event) {
          event.preventDefault(); // Prevent the default link behavior

          const url = this.getAttribute('href');
          const likeButton = this; // Store a reference to the button element

          // Disable the like button temporarily
          likeButton.disabled = true;

          fetch(url, {
            method: 'POST',
            headers: {
              'X-CSRFToken': getCookie('csrftoken'),
            },
          })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                console.error('Error:', data.error);
              } else {
                // Update the like button text based on the response
                likeButton.textContent = data.liked ? 'Like ' + data.likes_count + ' ' : 'Like ' + data.likes_count + ' ';

                // Add a class to the liked button
                if (data.liked) {
                  likeButton.classList.add('liked');
                } else {
                  likeButton.classList.remove('liked');
                }
              }
            })
            .catch(error => {
              console.error('Error:', error);
            })
            .finally(() => {
              // Re-enable the like button after the request completes
              likeButton.disabled = false;
            });
        });
      });
    });
  </script>


  <!-- <button  class="like-button">
      <div class="like-wrapper">
        <div class="ripple"></div>
        <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
        </svg>
        <div class="particles" style="--total-particles: 6">
          <div class="particle" style="--i: 1; --color: #7642F0"></div>
          <div class="particle" style="--i: 2; --color: #AFD27F"></div>
          <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
          <div class="particle" style="--i: 4; --color: #D0516B"></div>
          <div class="particle" style="--i: 5; --color: #5686F2"></div>
          <div class="particle" style="--i: 6; --color: #D53EF3"></div>
        </div>
      </div>
      
      
    </button>

    
        <-- Comment Button -->
  <button class="comment-button" data-post-id="{{ post.id }}">{{ post.comments.count }} comments</button>

  <button class="flex items-center bg-gray-100 hover:bg-gray-200 text-gray-600 font-bold py-2 px-4 rounded">
    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
    </svg>

  </button>


</div>
<div id="comment-section-{{ post.id }}" class="comment-section hidden">
  <div class="mt-4">
    <h3 class="text-lg font-bold mb-2">Comments</h3>
    {% for comment in post.comments.all|slice:":3" %}
    <div class="mb-2">
      <div class="flex items-center">
        <!-- Display comment user profile picture if available -->
        {% if comment.user.profile.profile_image %}
        <img src="{{ comment.user.profile.profile_image.url }}" alt="{{ comment.user.username }}"
          class="w-8 h-8 rounded-full mr-2">
        {% endif %}
        <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
      </div>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
    {% if post.comments.count > 3 %}
    <a href="{% url 'post_detail' post_id=post.id %}">View More</a>
    {% endif %}
  </div>


  <!-- Comment Form for each post -->
  <form method="post" action="{% url 'add_comment' post_id=post.id %}" class="mb-4">
    {% csrf_token %}
    <textarea name="text" rows="4" cols="50" class="w-full mb-2 border-2"></textarea><br>
    <input type="submit" value="Submit Comment"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
  </form>



  <!-- Loop through comments and display them -->
  {% for comment in post.comment_set.all %}
  <div class="mb-2">
    <div class="flex items-center">
      <img src="{{ comment.user.profile.profile_picture.url }}" class="w-6 h-6 rounded-full mr-2">
      <strong>{{ comment.user.username }}</strong>: {{ comment.text }}
    </div>
  </div>

  {% endfor %}
</div>
</div>
</div>
</div>



{% endfor %}

<script>
  // Get all comment buttons
  const commentButtons = document.querySelectorAll('.comment-button');

  // Add click event listener to each comment button
  commentButtons.forEach(function (commentButton) {
    commentButton.addEventListener('click', function () {
      // Get the post ID from the clicked button's data-post-id attribute
      const postId = commentButton.getAttribute('data-post-id');

      // Select the corresponding comment section based on the post ID
      const commentSection = document.getElementById(`comment-section-${postId}`);

      // Get the computed style of the comment section
      const computedStyle = window.getComputedStyle(commentSection);

      // Toggle the visibility of the comment section
      if (computedStyle.display === 'none' || computedStyle.display === '') {
        commentSection.style.display = 'block'; // Show the comment section
      } else {
        commentSection.style.display = 'none'; // Hide the comment section
      }
    });
  });

</script>

</div>

<script>
   setInterval(function() {
    location.reload();
  }, 60000);
</script>

{% endblock body %}